#resumo {
    background-color: white;
}

#caixa {
    display: block;
    width: 100%;
    height: 50px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

#saldos {
    display: inline-block;
    width: 45%;
}

#saldos>table{
    float:right;
}

#gastos {
    display: inline-block;
    width: 45%;
}